* {box-sizing:border-box;}

body {
    font-family: sans-serif;
    background-color: #333333;
    display: block;
    margin: 8px;
}

h1, h2, h3, h4 {
    color: #ffffff;
}

h1, h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
    color: #ffffee;
}

p, dd, dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
}

.pane {
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.pane::after {
  content: "";
  clear: both;
  display: table;
}

.header {
    left: 50%;
    text-align: center;
}

.categorypane {
    width: 30%;
    display: inline-block;
    padding: 8px;
    border-right: 2px solid #eee;
}

.itempane {
    float: right;
    width: 70%;
    display: inline-block;
    padding: 8px;
}

.namepricepane {
    color: #ffffcc;
    border: 5px;
}

.category {
    display: inline-block;
    width: 100%;
    float: left;
}

.description {
    color: #ffffff;
    padding-bottom: 5px;
}

.items {
    text-align: left;
    width: 100%;
    float: right;
    color: #ffffee;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}

.error {
    background: #f0d6d6; padding: 0.5em;
}
