<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class='pane'>
  <div class='header'>
    <h1>Catalog App</h1>
  </div>

  <div class='flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> <strong> {{message}} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <a href = '{{url_for('newItem') }}'>Add Item</a>

  {% for category in categories %}
    <div class='itempane'>
      <div class='name'>
        <a href="{{ url_for('showItems', category_id=category.id) }}">{{category.name}}</a>
      </div>
    </div>
  {% endfor %}
</div>

</body>
</html>
