<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class='pane'>
  <div class='header'>
    <h1><a href="{{ url_for('showcatalogs') }}">Catalog App</a></h1>
    <a href="{{ url_for('gdisconnect') }}" class='button'>Logout</a>
  </div>

  <div class='flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> <strong> {{message}} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class='categorypane'>

    <h2>Categories</h2>

    {% for category in categories %}
      <div class='category'>
        <a href="{{ url_for('showItems', category=category.name) }}">{{category.name}}</a>
      </div>
    {% endfor %}

  </div>

  <div class='itempane'>

    <h2>{{category}} Items ({{count}} items)</h2>

    {% for item in items %}
      <div class='items'>
        <a href="{{ url_for('itemInfo', category=item.Category.name, item=item.Item.title) }}">{{item.Item.title}}</a> ({{item.Category.name}})
      </div>
    {% endfor %}

  </div>

</div>

</body>
</html>
