<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class='pane'>
  <div class='header'>
    <h1><a href="{{ url_for('showcatalogs') }}">Catalog App</a></h1>
    <a href="{{ url_for('gdisconnect') }}" class='button'>Logout</a>
  </div>

  <div class='flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> <strong> {{message}} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class='categorypane'>

    <h2>Categories</h2>

    {% for category in categories %}
      <div class='category'>
        <a href="{{ url_for('showItems', category=category.name) }}">{{category.name}}</a>
      </div>
    {% endfor %}

  </div>

  <div class='itempane'>

    <h2>New Item</h2>

    <form action="{{ url_for('newItem')}}" method = 'post'>

      <p>Name:</p>
        <input type='text' size='30' name='name' required>

      <p>Description:</p>
        <input type='text' size='30' name='description' required>

      <p>Category:</p>
        <!-- provide list of categories provided by database -->
      <div>
        <select name="category">
          {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>

      <input type='submit' value='Create'>

    </form>

  </div>

</div>
</body>
</html>
