<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class='pane'>
  <div class='header'>
    <h1>Catalog App</h1>
    <a href="{{ url_for('showLogin') }}" class='button'>Login</a>
  </div>

  <div class='flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li> <strong> {{message}} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <div class='categorypane'>

    <h2>Categories</h2>

  {% for category in categories %}
      <span class='category'>
        <a href="{{ url_for('showItems', category=category.name) }}">{{category.name}}</a>
      </span>
  {% endfor %}

  </div>

  <div class='itempane'>

    <h2>Latest Items</h2>

  {% for item in items %}
      <div class='items'>
        <a href="{{ url_for('itemInfo', category=item.Category.name, item=item.Item.title) }}">{{item.Item.title}}</a> ({{item.Category.name}})
      </div>
  {% endfor %}

  </div>

</div>

</body>
</html>
